.Navigation {
    display: flex;
    justify-content: space-between;
}

.Links {
    flex-basis: 70%;
}

.Link__container {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100%;
}

.Logo {
    align-self: flex-start;
}

.Unlisted {
    margin: 0;
}

.List {
    list-style: none;
    display: inline;
}

.Link {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}