@import '../../Styles/shared';

.NavigationContainer {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Link__wrapper {
    height: 100%;
}

.Links {
    flex-basis: 70%;
    height: 100%;

    &__container {

        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: flex-end;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.hidden {
    display: none;
    @include respond-to ($breakpoint-tablet) {
        display: inline;
    }
}





