@import '../../Styles/shared';

.TimeWrapper {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    align-items: center;
    margin: auto;
    flex-basis: 100%;
}

.TimeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__Number {
        margin: auto;
        align-self: center;
    }
    
    &__Period {
        margin: auto;
        align-self: center;
        text-transform: uppercase;
        font-family:  'Arimo', Helvetica, sans-serif;
        font-weight: bold;
        font-size: 8px;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;

        @include respond-to($breakpoint-tablet) {
            font-size: 8px;
            margin-left: 10px;
            margin-right: 10px;
        }
    
        @include respond-to($breakpoint-desktop) {
            font-size: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.TimeLeft {
    color: $color-white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    @include respond-to($breakpoint-tablet) {
        font-size: 18px;
    }

    @include respond-to($breakpoint-desktop) {
        font-size: 18px;
    }
}