@import '../../Styles/shared';

.footerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    @include respond-to($breakpoint-tablet) {
        font-size: 70px;
        justify-content: space-evenly;
    }

    @include respond-to($breakpoint-desktop) {
        justify-content: space-between;
    }
}