.PriceContainer {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #fff;
    max-height: 300px;
}

.dollarSign {
    font-size: 100px;
    margin: 0;
    font-weight: 900;
}

.DollarNumber {
    font-size: 300px;;
    margin: 0;
    font-weight: 900;
}

.SmallNumber {
    font-size: 70px;
    margin: 0;
}

.PeriodicTime {
    font-size: 60px;
    font-weight: bold;
    margin: 0;

}

.Flex {
    display: flex;
    align-items: center;
}

.FlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    box-sizing: border-box;
}