.Background {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    background-image: url(../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    transform: scaleX(-1);
    width: 100vw;
    z-index: -100;
}
